b <u>Achievement info</u>
|
| <b>Name:</b> #{data.achievement.name}
| <b>Hint:</b> #{data.achievement.hint}
| <b>Reward:</b> #{data.achievement.bonus_points.toLocaleString(ctx.from.language_code || 'en')} bonus points
|
|
- var airports = Boolean(data.achievement.route.length)
case airports
    when 2
        b <u>Achievement route</u>
        |
        | <b>Departure:</b> #{data.achievement.route[0]}
        | <b>Arrival:</b> #{data.achievement.route[1]}
    when 3
        b <u>Achievement route</u>
        |
        | <b>Departure:</b> #{data.achievement.route[0]}
        | <b>Stopover:</b> #{data.achievement.route[1]}
        | <b>Arrival:</b> #{data.achievement.route[2]}
    default 
        b <u>Achievement description</u>
        |
        | #{data.achievement.description}
