b <u>Airline Information</u>
|
| <b>Airline:</b> #{data.airline.name}
- var has_alliance = data.airline.alliance
   if has_alliance
        |
        | <b>Alliance:</b> #{data.airline.alliance.name}

- var founded = date.format(data.airline.founded.getTime() + data.airline.founded.getTimezoneOffset() * 60000, 'dd/MM/yyyy • kk:mm')
|
| <b>Founded:</b> #{founded} (UTC)
|
- var locale = ctx.from.language_code || 'en'
   if data.cargoFleetSize > 0  
        | <b>Pax reputation:</b> #{data.airline.reputation.pax}%
        | <b>Cargo reputation:</b> #{data.airline.reputation.cargo}%
   else 
        | <b>Pax reputation:</b> #{data.airline.reputation.pax}%     

|
| <b>Rank:</b> #{data.airline.rank.toLocaleString(locale)} in #{data.airline.gameMode}
| <b>Achievements:</b> #{data.airline.achievements} completed
|
- var has_ipo = data.ipo.has
    if has_ipo
        | <b>Share Value:</b> $#{data.ipo.current.toLocaleString(locale)}
        | <b>Shares available:</b> #{data.ipo.shares.available.toLocaleString(locale)}/#{data.ipo.shares.total.toLocaleString(locale)}
        | <b>Level:</b> #{data.airline.level} 
    else 
        | <b>Level:</b> #{data.airline.level}   

|
|
|
b <u>Fleet info</u>
|
| <b>Total size:</b> #{data.fleet.size} planes 
| <b>Pax fleet:</b> #{data.paxFleetSize} planes
| <b>Cargo fleet:</b> #{data.cargoFleetSize} planes
| <b>Routes:</b> #{data.fleet.routes}
|
|
b <u>Airline Staff</u>
|
| <b>Pilots:</b> #{data.staff.pilots.toLocaleString(locale)}
| <b>Crew:</b> #{data.staff.crew.toLocaleString(locale)}
| <b>Engineers:</b> #{data.staff.engineers.toLocaleString(locale)}
| <b>Tech:</b> #{data.staff.tech.toLocaleString(locale)}
|
|
b <u>Profitability</u>
|
| <b>Per hour:</b> $#{Math.round(data.profit / 18).toLocaleString(locale)}
| <b>Per day:</b> $#{Math.round(data.profit).toLocaleString(locale)}
| <b>Per week:</b> $#{Math.round(data.profit * 7).toLocaleString(locale)}
|
|
- var has_awards = Boolean(data.awards.length)
    if has_awards 
        |
        b <u>Awards</u>
        |
        | <code>#{data.awards.map(award => `${award.name} • ${date.format(award.date, 'dd/MM/yyyy')}`).join('\n')}</code>
