b <u>Information</u>
|
| <b>City:</b> #{airport.city.capitalizeWords({ capitalizeAfterQuote: true })}
| <b>Country:</b> #{airport.country.capitalizeWords({ capitalizeAfterQuote: true })}, #{airport.country_code.toUpperCase()}
| <b>ICAO:</b> #{airport.icao.toUpperCase()}
| <b>IATA:</b> #{airport.iata.toUpperCase()}
|
|
b <u>Statistics</u>
|
| <b>Runway:</b> #{airport.runway.toLocaleString(locale)} ft
| <b>Market:</b> #{airport.market}%