b <u>Information</u>
|
| <b>City:</b> #{data.airport.city.capitalizeWords({ capitalizeAfterQuote: true })}
| <b>Country:</b> #{data.airport.country.capitalizeWords({ capitalizeAfterQuote: true })}, #{data.airport.country_code.toUpperCase()}
| <b>ICAO:</b> #{data.airport.icao.toUpperCase()}
| <b>IATA:</b> #{data.airport.iata.toUpperCase()}
|
|
b <u>Statistics</u>
|
| <b>Runway:</b> #{data.airport.runway.toLocaleString(ctx.from.language_code || 'en')} ft
| <b>Market:</b> #{data.airport.market}%